.center-slider {
  margin: 72px 0;
  position: relative;

  &__wrapper {
    max-width: 1170px;
  }

  .swiper.center-slider__wrapper {
    padding: 0 195px;
    & > .swiper-wrapper {
      align-items: center;
    }
  }

  &__button {
      position: absolute;
      z-index: 10;

      top: 50%;
      transform: translateY(-100%);
    &-prev {
      left: -24px;
      svg {
        transform: rotate(-90deg);
      }
    }

    &-next {
      right: -24px;
      svg {
        transform: rotate(90deg);
      }
    }
  }

  .swiper-slide {
    &__img {
      display: block;
      overflow: hidden;
      border-radius: 24px;
      width: 585px;
      height: 360px;

      position: relative;

      img {
        max-width: 100%;
        min-height: 100%;
        width: 100%;
        object-position: center;
        object-fit: cover;
      }

      &::before {
        position: absolute;
        content: "";
        right: 24px;
        bottom: 24px;
        width: 48px;
        height: 48px;
        background: #ffc162 url(../img/zoom.svg) center center no-repeat;
        border-radius: 50%;
        transition: all 0.5s ease-out;
        opacity: 0.5;
      }

      &:hover:before {
        background-color: #f9a321;
        opacity: 1;
      }
    }

    &-active {

      .swiper-slide__img {
        width: 779px;
        height: 480px;
        border-radius: 48px;
        box-shadow: 0 4px 60px rgba(85, 118, 157, 0.15);
      }
    }

    &-prev {
      .swiper-slide__img {
        margin-left: auto;
      }
    }

    p {
      font-style: italic;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      max-width: 553px;
      width: 100%;
      margin: 16px auto 0;

      color: rgba(67, 67, 67, 0.5);
    }
  }

  .swiper-pagination.center-slider__pagination {
    position: static;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .swiper-pagination  {
    & > &-bullet {
      margin-left: 0;
    }
  }
}
