.clients-slider {

  .swiper-wrapper {
    align-items: center;
    transition-timing-function: linear !important;
  }

  &__item {
    width: auto !important;
  }

  & + & {
    margin-top: 40px;
  }
}
