.primary-pagination {
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: linear-gradient(267.67deg, #f9a321 0%, #ffc162 100%);
    opacity: 1;
    margin: 0 !important;

    &-active {
      background: linear-gradient(0deg, #eef7ff, #eef7ff), linear-gradient(90.53deg, #4ca3f2 0%, #80c2ff 100%);
      border: 2px solid #f9a321;
      width: 12px;
      height: 12px;
      margin-left: -2px !important;
      margin-right: -2px !important;
      background: transparent;
    }
  }
}

@import "center-slider";
@import "vertical-slider";
@import "cert-slider";
@import "clients-slider";
