.vertical-slider {
  position: relative;
  &__wrapper {
    height: 356px;
    width: 553px;
    padding: 80px 55px !important;
    margin: 50px 0;
  }

  .swiper-wrapper {
    max-width: 513px;
    width: 100%;
  }

  &__pagination {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    .swiper-pagination-bullet-active {
      margin: 0 !important;
    }
  }

  .swiper-slide-prev, .swiper-slide-next {
    opacity: 0.5;
  }

  &__item {
    a {
      display: block;
      position: relative;

      &:before {
        position: absolute;
        content: "";
        right: 20px;
        bottom: 25px;
        width: 48px;
        height: 48px;
        background: #ffc162 url(../img/zoom.svg) center center no-repeat;
        border-radius: 50%;
        transition: all 0.5s ease-out;
        opacity: 0.5;
      }

      &:hover:before {
        background-color: $primary;
        opacity: 1;
      }
    }

    img {
      max-width: 100%;
      border-radius: 4px;
      box-shadow: 0 4px 60px rgba(85, 118, 157, 0.15);
    }
  }

  &__button {
    position: absolute;
    z-index: 2;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: all 0.5s ease-out;
    cursor: pointer;
    &-next {
      bottom: 24px;
      svg {
        transform: rotate(180deg);
      }
    }
    &-prev {
      top: 26px;
    }

  }
}

@include mq(md) {
  .vertical-slider {

    &__wrapper {
      margin-top: 0;
    }

    &__button {
      margin: 0;
      transform: translateY(-50%);
      &-next {
        top: 50%;
        left: calc(100% - 26px);
        bottom: 0;
        svg {
          transform: rotate(90deg);
        }
      }
      &-prev {
        top: 50%;
        left: -26px;
        svg {
          transform: rotate(-90deg);
        }
      }
    }

    &__pagination {
      flex-direction: row;
      justify-content: center;
      bottom: 0;
    }
  }
}

@include mq(xs) {
  .vertical-slider {
    max-width: 359px;
    width: 100%;
    padding: 0 20px;

    &__wrapper {
      height: 185px;
      max-width: 343px;
      width: 100%;
      padding: 0 20px !important;
      margin: 20px 0;
    }

    &__button {
      width: 32px;
      height: 32px;
      transform: translateY(-105%);

      &-next {
        left: calc(100% - 32px)
      }
      &-prev {
        left: 0;
      }
    }

    &__item {
      a {
        &:before {
          display: none;
        }
      }
    }
  }
}
