.vertical-slider {
  position: relative;
  display: flex;
  gap: 28px;
  align-items: center;

  &__wrapper-outer {
    position: relative;
    padding: 16px 0;
  }

  &__wrapper {
    position: relative;
    height: 356px;
    max-width: 513px;
    width: 100%;
    overflow: initial !important;
    padding: 50px 0 !important;
  }

  &__inner {
    overflow: hidden;
    padding: 0 60px;
    margin: 0 -60px;
  }

  .swiper-wrapper {
    max-width: 513px;
    width: 100%;
  }

  &__pagination {
    position: static !important;
    transform: none !important;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    .swiper-pagination-bullet-active {
      margin: 0 !important;
    }
  }

  .swiper-slide-prev, .swiper-slide-next {
    opacity: 0.5;
  }

  &__item {
    a {
      display: block;
      position: relative;

      &:before {
        position: absolute;
        content: "";
        right: 20px;
        bottom: 25px;
        width: 48px;
        height: 48px;
        background: #ffc162 url(../img/zoom.svg) center center no-repeat;
        border-radius: 50%;
        transition: all 0.5s ease-out;
        opacity: 0.5;
      }

      &:hover:before {
        background-color: $primary;
        opacity: 1;
      }
    }

    img {
      max-width: 100%;
      border-radius: 4px;
    }
  }

  .swiper-slide {
    &-active {
      box-shadow: 0 4px 60px rgba(85, 118, 157, 0.15);
    }
  }

  &__button {
    position: absolute;
    z-index: 2;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: all 0.5s ease-out;
    cursor: pointer;
    &-next {
      bottom: 0;
      svg {
        transform: rotate(180deg);
      }
    }
    &-prev {
      top: 0;
    }

  }
}

@include mq(md) {
  .vertical-slider {
    flex-direction: column;
    gap: 24px;

    &__wrapper-outer {
      padding: 0;
    }

    &__wrapper {
      height: 260px;
      padding: 0 !important;
    }

    &__inner {
      padding: 40px;
      margin: -40px;
    }

    &__button {
      margin: 0;

      top: 50%;
      transform: translateY(-50%);
      &-next {
        right: -26px;
        left: auto;
        svg {
          transform: rotate(90deg);
        }
      }
      &-prev {
        left: -26px;
        svg {
          transform: rotate(-90deg);
        }
      }
    }

    &__pagination {
      flex-direction: row;
      justify-content: center;
      bottom: 0;
    }
  }
}

@include mq(xs) {
  .vertical-slider {
    gap: 16px;

    &__wrapper {
      height: 140px;
      max-width: 275px;
      width: 100%;
    }

    &__button {
      width: 32px;
      height: 32px;
      svg {
        width: 10px;
        height: 12px;
      }

      &-next {
       right: -16px;
      }
      &-prev {
       left: -16px;
      }
    }

    &__item {
      a {
        &:before {
          display: none;
        }
      }
    }
  }
}
