.accordion {

  &__wrapper {
    max-width: 975px;
    width: 100%;
    margin: 0 auto;
  }

  &__item {
    background: $white;
    box-shadow: 0 4px 30px rgba(80, 106, 153, 0.1);
    border-radius: 16px;
    padding-bottom: 31px;

    & + & {
      margin-top: 12px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 31px 40px 0 56px;
    cursor: pointer;
    transition: all .2s;

    img {
      transition: all .2s;
    }

    &--active {
      padding-bottom: 8px;
      img {
        transform: rotate(180deg);
      }
    }
  }

  &__body {
    padding: 0 56px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  &__title {

  }

  &__text {
    max-width: 522px;
    width: 100%;
  }
}

@include mq(md) {
  .accordion {
    &__wrapper {
      max-width: 800px;
    }

    &__header {
      padding: 21px 24px 0 40px;
    }

    &__body {
      padding: 0 40px;
    }

    &__item {
      padding-bottom: 20px;
    }
  }
}

@include mq(xs) {
  .accordion {
    &__header {
      padding: 16px 0 0;

      &--active {
        padding-bottom: 4px;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }

    &__body {
      padding-left: 0;
      padding-right: 0;
    }

    &__item {
      border-bottom: 1px solid $primary;
      box-shadow: none;
      border-radius: 0;
      padding-bottom: 16px;

      & + & {
        margin-top: 0;
      }

      &:first-child {
        border-top: 1px solid $primary;
      }
    }
  }
}
