.benefits {
    max-width: 569px;
    padding: 48px 48px 48px 56px;
    background-color: #fff;
    border: 1px solid #DEEFFF;
    border-radius: 24px;
    display: flex;
    width: 100%;
    &__wrapper {
        margin-right: 20px;
    }
    &__name {
        font-weight: 600;
        font-size: 20px;
        line-height: 125%;
        color: #57A6EE;
        margin-bottom: 8px;
    }
    &__descr {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #434343;

        & + & {
            margin-top: 12px;
        }
    }

    &__image {
        width: 72px;
        height: 72px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        background: linear-gradient(267.67deg, #4CA3F2 0%, #80C2FF 100%);
        border-radius: 16px;

        img {
            width: 40px;
            height: 40px;
        }
    }
}

@include mq(md) {
    .benefits {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        max-width: 370px;
        width: 100%;
        padding: 40px 32px;

        &__wrapper {
            margin-right: 0;
            max-width: 279px;
            width: 100%;
            text-align: center;
            margin-top: 16px;
        }

        &__image {
            width: 64px;
            height: 64px;
        }
    }
}

@include mq(xs) {
    .benefits {
        &__name {
            font-size: 16px;
        }
        &__descr {
            font-size: 14px;

            & + & {
                margin-top: 8px;
            }
        }
    }
}
