.breadcrumbs {
  display: flex;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  list-style-type: none;
  gap: 10px;

  &__item {
    position: relative;

    &:last-child {
      &::after {
        display: none;
      }
    }

    &::after {
      content: "/";
      font-weight: 400;
      font-size: 14px;
      line-height: 115%;
      position: absolute;
      right: -7px;
      top: 50%;
      transform: translateY(-50%);
      color: rgba(67, 67, 67, 0.35);
    }
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 115%;
    color: rgba(67, 67, 67, 0.35);
    text-decoration: none;
  }
}
