.breadcrumbs {
  padding: 0 16px;
  color: #BDBDBD;
  font-size: 14px;
  line-height: 32px;
  white-space: nowrap;
  border-radius: 16px;
  background-color: rgba($white, 0.5);

  a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
  }

  .breadcrumb_last {
    display: inline-block;
  }

  &-container {
    overflow-x: auto;
  }
}

@include mq(md) {
  .breadcrumbs {
    padding: 10px 0;
    border-radius: unset;
    background-color: transparent;

    a,
    .breadcrumb_last {
      padding: 0 12px;
      border-radius: 16px;
      background-color: #F7FBFF;
    }
  }
}
