.checkbox {
  color: $white;
  font-weight: 400;
  font-size: 12px;
  line-height: 145%;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  justify-content: center;

  a {
    text-decoration: underline;
    font-size: 14px;
    color: $white;
  }
}
