.consultation-package {
    &__wrapper {
        cursor: default;
        max-width: 569px;
        min-height: 726px;
        background-color: #fff;
        padding: 56px 87px 64px 89px;
        box-shadow: 0px 4px 30px rgba(80, 106, 153, 0.1);
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__image {
        margin-bottom: 32px;
    }
    &__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase;
        color: #57A6EE;
        margin-bottom: 8px;
    }
    &__descr {
        font-weight: 400;
        font-size: 18px;
        line-height: 125%;
        color: #434343;
        text-align: center;
        margin-bottom: 24px;
    }
    &__price {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        color: #3F5770;
        margin-bottom: 24px;
    }
    &__action {
        padding: 21px 85px;
        background: linear-gradient(267.67deg, #F9A321 0%, #FFC162 100%);
        border-radius: 32px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        border: none;
        cursor: pointer;
    }
}