.consultation-package {
    max-width: 569px;
    width: 100%;

    position: relative;
    z-index: 0;

    &__link-contain {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    &__wrapper {
        cursor: default;
        max-width: 569px;
        min-height: 726px;
        background-color: #fff;
        padding: 56px 84px 64px;
        box-shadow: 0 4px 30px rgba(80, 106, 153, 0.1);
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img {
        margin-bottom: 32px;
        max-width: 235px;
        width: 100%;

        img {
            max-width: 100%;
        }
    }
    &__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        text-transform: uppercase;
        color: #57A6EE;
        max-width: 173px;
        width: 100%;
        text-align: center;
        margin: 0 auto 8px;
    }
    &__descr {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #434343;
        text-align: center;
        margin-bottom: 20px;
    }
    &__price {
        margin-top: auto;
        margin-bottom: 24px;
    }
    &__action {
        padding: 21px 85px;
        background: linear-gradient(267.67deg, #F9A321 0%, #FFC162 100%);
        border-radius: 32px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    &:hover &__action {
        &::before {
            opacity: 1;
        }
    }
}

@include mq(md) {
    .consultation-package {
        max-width: 363px;
        &__wrapper {
            padding: 50px 28px 50px;
            min-height: 672px;
        }

        &__img {
            max-width: 200px;
        }
    }
}

@include mq(sm) {
    .consultation-package {
        max-width: 45%;
        &__wrapper {
            padding: 40px 21px 32px;
            min-height: 502px;
        }

        &__name {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            width: 138px;
            margin: 0;
            flex-shrink: 0;
        }

        &__img {
            max-width: 123px;
            margin-bottom: 10px;
        }

        &__descr {
            max-width: 238px;
            width: 100%;
            margin: 0 auto 16px;
            font-size: 14px;
            line-height: 17px;
            height: 85px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@include mq(xs) {
    .consultation-package {
        max-width: 253px;
    }
}
