.counter-list {
  &__wrapper {
    display: flex;
    list-style-type: none;
    gap: 33px;
    padding-top: 24px;
    justify-content: center;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #DEEFFF;
    padding: 40px 38px;
  }

  &__digit {
    position: absolute;
    background: linear-gradient(267.67deg, #F9A321 0%, #FFC162 100%), linear-gradient(267.67deg, #4CA3F2 0%, #80C2FF 100%);
    border-radius: 24px;
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__content {
    max-width: 225px;
    width: 100%;
  }

  &__text {
    text-align: center;
  }

  &__add-info {
    color: $primary;
    text-align: center;
    margin-top: 8px;
  }
}

@include mq(md) {
  .counter-list {
    &__wrapper {
      gap: 10px;
    }

    &__digit {
      width: 40px;
      height: 40px;
      top: -20px;
    }

    &__item {
      padding: 24px 40px;
    }
  }
}


@include mq(xs) {
  .counter-list {
    &__wrapper {
      flex-direction: column;
      gap: 10px;
      align-items: center;
      padding-top: 0;
    }

    &__item {
      padding: 24px 40px !important;
      border-radius: 8px;
      margin-left: 16px;
      max-width: 327px;
      width: 100%;
    }
    &__digit {
      width: 32px;
      height: 32px;
      font-size: 14px;
      top: 50%;
      left: -16px;
      transform: translateY(-50%);
    }
    &__text {
      text-align: left;
    }
    &__content {
      max-width: 247px;
    }

    &__add-info {
      text-align: left;
    }
  }
}
