.extradition {
    max-width: 368px;
    min-height: 510px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 4px 30px rgba(80, 106, 153, 0.1);
        border-radius: 32px;
        padding: 56px 72px 48px 72px;
        position: relative;
    }
    &__image {
        margin-bottom: 16px;
    }
    &__name {
        font-weight: 600;
        font-size: 18px;
        line-height: 110%;
        color: #57A6EE;
        margin-bottom: 8px;
    }
    &__descr {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #434343;
        margin-bottom: 16px;
    }
    &__price {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        color: #3F5770;
        margin-bottom: 24px;
    }
    &__button {
        padding: 21px 85px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
    }
    &__marker {
        position: absolute;
        max-width: 102px;
        min-height: 31px;
        font-weight: 700;
        font-size: 12px;
        line-height: 110%;
        text-transform: uppercase;
        color: #fff;
        background: linear-gradient(267.67deg, #4CA3F2 0%, #80C2FF 100%);
        border-radius: 4px;
        padding: 10px 16px 8px 16px;
        top: -15px;
    }
}