.input {
  border: none;

  &-primary {
    border: 1px solid $white;
    border-radius: 32px;
    padding: 21px 32px;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $white;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $white;
    }
  }
}

@include mq(xs) {
  .input {
    &-primary {
      font-size: 14px;
      padding: 16px 24px;
    }
  }
}
