.logo {
  display: inline-flex;
  gap: 14px;
  text-decoration: none;
  
  &__text {
    position: relative;

    display: inline-flex;
    align-items: center;
    max-width: 108px;
    width: 100%;
    padding-left: 14px;
    color: $dark-700;
    font-weight: 400;
    font-size: 14px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      background-color: $secondary;

      border-radius: 2px;
      height: 32px;
      width: 2px;
    }
  }
}
