.module {
  & + & {
    margin-top: 128px;
  }

  &__header {
    margin-bottom: 48px;

    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  &__badge {
    margin-bottom: 16px;
    width: fit-content;
    padding: 10px 16px 8px;
    background: $primary;
    border-radius: 4px;

    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: $white;
  }

  &__info {
    display: flex;
    gap: 16px;
    align-items: center;
    background: linear-gradient(267.67deg, #F9A321 0%, #FFC162 100%);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 20px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $white;
  }

  &__title {
    max-width: 683px;
    width: 100%;
  }
}

@include mq(md) {
  .module {
    &__badge {
      margin: 0 auto 16px;
    }
    &__title {
      text-align: center;
      margin-bottom: 16px;
    }
    &__header {
      &-wrap {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@include mq(sm) {
  .module {
    & + & {
      margin-top: 72px;
    }

    &__header {
      margin-right: 16px;
    }
  }
}

@include mq(xs) {
  .module {
    &__info {
      padding: 16px 28px;
      font-size: 14px;
      gap: 8px;
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}
