.polls {
    max-width: 975px;
    width: 100%;
    box-shadow: 0 4px 30px rgba(80, 106, 153, 0.1);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 48px 33px 56px;
    position: relative;
    background-color: $white;
    &__descr {
        font-weight: 600;
        font-size: 24px;
        line-height: 110%;
        color: #57A6EE;
    }
    &__link {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}

@include mq(md) {
    .polls {
        &__descr {
            font-size: 20px;
        }
    }
}

@include mq(sm) {
    .polls {
        margin: 0 auto;
        max-width: 600px;
        padding: 17px 16px;
        &__descr {
            font-size: 16px;
        }

        img {
            width: 9px;
        }

    }
}
