.prompt {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 491px;
  width: 100%;

  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 11px;
    padding: 26px 32px;
    border: 1px solid $primary;
    border-radius: 24px;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $primary;
  }

  &:before {
    content: "";
    height: 1px;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(270deg, #57A6EE 0%, rgba(87, 166, 238, 0) 100%);
  }
}

@include mq(lg) {
  .prompt {
    &__wrapper {
      padding: 22px 30px;
    }
  }
}


@include mq(md) {
  .prompt {
    position: relative;
    top: 0;
    right: 0;
    transform: none;
    margin-top: 32px;

    &__wrapper {
      padding: 48px 32px 40px;
    }

    &__text {
      text-align: center;
    }

    &__img {
      border: 1px solid $primary;
      width: 64px;
      height: 64px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary-bg;
      top: -32px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 12px;
    }


    background: #EEF7FF;
    border-radius: 12px;
  }
}

@include mq(xs) {
  .prompt {
    &__text {
      font-size: 14px;
    }
  }
}
