.table {
  &__header {
    display: flex;
    &-title {
      padding: 32px 12px 32px 48px;

      border-bottom: 1px solid $primary;

      & + & {
        border-left: 1px solid $primary;
      }
    }

    & > * {
      flex-basis: 390px;
    }
  }
  &__body {
    &-title {
      padding: 44px 64px 44px 98px;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      color: #3F5770;
      border-right: 1px solid $primary;
      border-bottom: 1px solid $primary;
      display: flex;
      align-items: center;
    }
  }

  &__first-cell {
    padding: 16px 42px 33px 98px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #434343;
  }

  &__header-title, &__body-title {
    background-color: $light-blue;
  }


  &__row {
    display: flex;

    & > * {
      flex-basis: 390px;
    }

    &:first-child {
      .table__body-title {
        border-top-left-radius: 24px;
      }
    }

    &:last-child {
      .table__body-title {
        border-bottom: none;
        border-bottom-left-radius: 24px;
      }
    }
  }

  &__cell {
    padding: 32px 40px 32px 47px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $primary;
    &-img {}
    &-details {}

    &-wrap {
      display: flex;
      gap: 10px;
    }

    &-title {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #434343;
    }
    &-text {
      margin-top: 7px;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: #3F5770;
    }

    & + & {
      border-left: 1px solid $primary;
    }

    &:last-child {
      border-right: 1px solid $primary;
    }
  }
}
