.text {
  $self: &;

  color: #434343;

  &--white {
    color: #ffffff;
  }

  &--sm {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
  }

  &--md {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    & + #{$self}--lg {
      margin-top: 16px;
    }
  }

  &--lg {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;

    & + #{$self}--md {
      margin-top: 16px;
    }
  }
}

@include mq(md) {
  .text {
    &--lg {
      font-size: 18px;
    }
  }
}

@include mq(xs) {
  .text {
    &--md {
      font-size: 14px;
    }

    &--lg {
      font-size: 16px;
    }
  }
}
