.text {
  color: #434343;

  &--white {
    color: #ffffff;
  }

  &--sm {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
  }

  &--md {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &--lg {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
  }
}
