.title {
  color: #3F5770;

  &--level {
    &_h1 {
      text-transform: uppercase;
      font-size: 30px;
      line-height: 120%;
    }
    &_h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 120%
    }
    &_h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
    }
    &_h4 {
      font-weight: 600;
      font-size: 18px;
      line-height: 110%;
    }
  }

  &--blue {
    color: #57A6EE;
  }
  &--white {
    color: #ffffff;
  }
}
