.title {
  color: #3F5770;

  &--level {
    &_h1 {
      text-transform: uppercase;
      font-size: 30px;
      line-height: 120%;
    }
    &_h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 120%
    }
    &_h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
    }
    &_h4 {
      font-weight: 600;
      font-size: 18px;
      line-height: 110%;
    }
  }

  &--main {
    margin-top: 80px;
  }

  &--blue {
    color: #57A6EE;
  }
  &--white {
    color: #ffffff;
  }
}

@include mq(xl) {
  .title {
    &--level {
      &_h1 {
        font-size: 26px;
      }

      &_h2 {
        font-size: 22px;
      }
    }
  }
}

@include mq(md) {
  .title {
    &--main {
      margin: 40px auto 0;
      text-align: center;

      & + .text {
        margin-top: 16px;
      }

      & + .title--level_h2 {
        margin-top: 8px;
      }
    }

    &--tac-md {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@include mq(xs) {
  .title {
    &--level {
      &_h1 {
        font-size: 22px;
      }

      &_h2 {
        font-size: 16px;
      }

      &_h3 {
        font-size: 16px;
      }
    }
  }
}
