.webinars {
  &__block {
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 12px;
      border-bottom: 1px solid $primary;
      margin-bottom: 40px;
    }
    &-name {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;

      color: $primary;

    }
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: 128px;
  }

  &__count-videos {
    color: $primary;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &__videos {
    display: flex;
    column-gap: 33px;
    row-gap: 40px;
    flex-wrap: wrap;
  }

  &__file {
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
    background: #EEF7FF;
    padding: 16px 24px;
    align-items: center;

    &-size {
      color: $primary;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
    }

    &-link {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-decoration-line: underline;
        color: #57A6EE;
      }
    }
  }
}

@include mq(md) {
  .webinars {
    &__videos {
      justify-content: center;
    }

    &__file {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      &-link {
        align-items: flex-start;
      }

      &-size {
        padding-left: 32px;
        font-size: 14px;
      }
    }
  }
}

@include mq(sm) {
  .webinars {
    &__videos {
      gap: 0;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    &__blocks {
      gap: 72px;
    }

    &__wrapper {
      .container {
        padding-right: 0;
      }
    }

    &__block {

      &-header {
        padding-bottom: 8px;
        margin-bottom: 24px;
        margin-right: 16px;
      }
    }
  }
}

@include mq(xs) {
  .webinars {
    &__count-videos {
      font-size: 12px;
    }
    &__block {
      &-name {
        font-size: 16px;
      }
    }

    &__file {
      gap: 4px;
      &-link {
        span {
          font-size: 14px;
        }

        img {
          width: 16px;
          height: 16px;
        }
      }
      &-size {
        font-size: 10px;
        padding-left: 24px;
      }
    }

  }
}
