.main-nav {
  $self: &;

  &__wrapper {
    display: flex;
    list-style-type: none;
    gap: 40px;
  }

  &__item {
    position: relative;
  }

  &__item.drop-menu-open {

    #{$self}__link {
      color: $primary;
    }

    & > .drop-menu {
      display: block;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    transition: .2s all;

    &:hover {
      color: $primary;
    }
  }

  .drop-menu {
    padding: 16px 0;
    left: -24px;
  }
}
