.s-about-digits {
  margin: 128px 0;

  &__title {
    text-align: center;
    margin: 0 auto 40px;
  }

  &__items {
    display: flex;
    gap: 33px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@include mq(md) {
  .s-about-digits {
    margin: 72px 0;
    &__title {
      margin-bottom: 24px;
    }

    &__items {
      gap: 16px;
    }
  }
}
