.s-accounting-services {
  margin: 90px 0 128px;

  &__title {
    max-width: 585px;
    width: 100%;
    margin-bottom: 24px;
  }

  &__lists {
    display: flex;
    gap: 48px;
  }

  &__check-list {
    flex: 1;
    flex-shrink: 0;
  }
}

@include mq(md) {
  .s-accounting-services {
    margin: 72px 0;

    &__title {
      margin: 0 auto 16px;
      text-align: center;
    }

    &__lists {
      flex-direction: column;
      gap: 0;
    }
  }
}

@include mq(sm) {
  .s-accounting-services {
    &__lists {
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

@include mq(xs) {
  .s-accounting-services {
    &__title {
      max-width: 321px;
      width: 100%;
    }
  }
}
