.s-add-licenses {
  margin: 128px 0;
  &__title {
    margin: 0 auto 40px;
    text-align: center;
  }

  &__items {
    display: flex;
    gap: 25px;
    justify-content: center;
  }

}


@include mq(md) {
  .s-add-licenses {
    &__title {
      margin-bottom: 24px;
    }

    &__items {
      flex-wrap: wrap;
    }
  }
}

@include mq(sm) {
  .s-add-licenses {
    &__items {
      gap: 20px;
    }
  }
}

@include mq(xs) {
  .s-add-licenses {
    &__items {
      gap: 16px;
    }
  }
}
