.s-advantage {
  background-color: $white;

  &__wrapper-outer {
    background-repeat: no-repeat;
  }

  &__inner {
    padding: 128px 0;
  }

  &__title {
    margin: 0 auto 48px;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
  }
}

@include mq(md) {
  .s-advantage {
    &__items {
      gap: 16px;
    }

    &__title {
      margin: 0 auto 24px;
      max-width: 300px;
      width: 100%;
    }

    &__inner {
      padding: 72px 0 146px;
    }
  }
}
