.s-banner-companies {
  &__wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 975px;
    display: flex;
    gap: 117px;
    align-items: center;
    justify-content: center;
  }

  &__item {
    img {
      max-width: 100%;
      opacity: 0.5;
    }
  }
}
