.s-banner-companies {
  &__wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 975px;
    display: flex;
    gap: 117px;
    align-items: center;
    justify-content: center;
  }

  &__item {
    img {
      max-width: 100%;
      opacity: 0.5;
    }
  }
}

@include mq(md) {
  .s-banner-companies {
    &__wrapper {
      gap: 80px;
    }
  }
}

@include mq(sm) {
  .s-banner-companies {
    &__wrapper {
      gap: 40px;
    }
    &__item {
      img {

      }
    }
  }
}

@include mq(sm) {
  .s-banner-companies {
    &__item {
      max-width: 100px;
      img {

      }
    }
  }
}

@include mq(xs) {
  .s-banner-companies {
    &__wrapper {
      gap: 20px;
    }
  }
}
