.banner {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;

    &__title {
        margin-bottom: 16px;
        max-width: 562px;
        width: 100%;
    }

    &__wrapper {
        padding: 64px 98px;
        border-radius: 24px;
        background-color: $primary-bg;
    }
}

@include mq(md) {
    .banner {
        &__wrapper {
            padding: 56px;
        }
    }
}

@include mq(xs) {
    .banner {
        &__title {
            margin-bottom: 8px;
            font-size: 16px;
        }

        .text--lg {
            font-size: 14px;
        }

        &__wrapper {
            padding: 32px;
        }
    }
}
