.banner {
    margin: 72px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;

    &__title {
        margin-bottom: 16px;
        max-width: 562px;
        width: 100%;
    }

    &__wrapper {
        padding: 64px 98px;
        border-radius: 24px;
        background-color: #EEF7FF;
    }
}
