.s-cases {
  &__inner {
    padding: 38px 0 355px;
  }

  &__title {
    margin: 0 auto 48px;
    text-align: center;
  }

  &__items {
    display: flex;
    gap: 32px;
    margin-bottom: 48px;
  }

  &__button {
    text-align: center;
  }
}

@include mq(md) {
  .s-cases {

    &__items {
      gap: 0;
    }

    &__title {
      margin-bottom: 24px;
    }

    &__items {
      margin-bottom: 40px;
    }

    &__slider {
      padding: 0 16px !important;
    }

    &__inner {
      padding: 72px 0 144px;
    }

    .button {
      max-width: 311px;
      width: 100%;
      justify-content: center;
    }
  }
}

@include mq(xs) {
  .s-cases {
    &__wrapper-outer {
      background-image: url("../img/cases-mobile.svg") !important;
    }
  }
}
