.s-clients {
    &__wrapper {
        padding: 80px 0 386px;
    }
    &__title {
        margin: 0 auto 16px;
        text-align: center;
    }
    &__subtitle {
        margin: 0 auto 48px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 27px;
        font-weight: 700;
    }
}

@include mq(md) {
    .s-clients {
        &__wrapper {
            padding: 72px 0 137px;
        }

        &__title {
            margin-bottom: 8px;
        }

        &__subtitle {
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 40px;
        }
    }
}
