.s-consulting-packages {
  margin: 128px auto 32px;
  &__title {
    text-align: center;
    margin: 0 auto 40px;
  }
  &__items {
    display: flex;
    gap: 32px;
  }
}

@include mq(md) {
  .s-consulting-packages {
    margin: 72px 0 24px;
    &__items {
      justify-content: center;
      gap: 16px;
    }
  }
}

@include mq(sm) {
}

@include mq(xs) {
  .s-consulting-packages {
    overflow: hidden;

    &__items {
      gap: 0;
      justify-content: flex-start;
    }

    &__swiper {
      overflow: initial !important;
    }
  }
}
