.demo-banner {
    &__wrapper {
        background: linear-gradient(90.53deg, #4CA3F2 0%, #80C2FF 100%);
        border-radius: 48px;
        box-shadow: 0 4px 60px rgba(85, 118, 157, 0.15);
        position: relative;
        z-index: 0;
    }

    &__inner {
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-position-x: center;
        padding: 80px 128px 169px;
    }
    &__title-h2 {
        max-width: 698px;
        width: 100%;
        margin: 0 0 24px;
    }
    &__title-h3 {
        max-width: 493px;
        width: 100%;
        margin: 0 0 40px;
        text-transform: uppercase;
    }
    &__chip {
        display: flex;
        margin-bottom: 32px;
    }
    &__span {
        display: block;
        max-width: 124px;
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;
        text-transform: uppercase;
        color: $white;
    }
    &__img {
        margin-right: 16px;
    }
    &__btns {
        display: flex;
        gap: 32px;
    }
    &__access {
        padding: 21px 52px;
        background: linear-gradient(267.67deg, #F9A321 0%, #FFC162 100%), linear-gradient(84.38deg, #F9D85F 0%, #FFE68C 100%), #F9D85F;
        border-radius: 32px;
        text-decoration: none;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        color: #FFFFFD;
        transition: .2s all;

        &:hover {
            box-shadow: 0 4px 30px rgba(249, 216, 95, 0.75);
        }
    }
    &__circle {
        background-color: #fff;
        border-radius: 100%;
        width: 64px;
        align-items: center;
        justify-content: center;
        height: 64px;
        display: inline-flex;
    }
    &__video {
        display: inline-flex;
        align-items: center;
        gap: 16px;
        text-decoration: none;
    }
    &__video-span {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #FFFFFF;
        max-width: 132px;
        width: 100%;
    }
}
