.demo-banner {
    margin-bottom: 64px;
    &__wrapper {
        background: linear-gradient(90.53deg, #4CA3F2 0%, #80C2FF 100%);
        border-radius: 48px;
        box-shadow: 0 4px 60px rgba(85, 118, 157, 0.15);
        position: relative;
        z-index: 0;
    }

    &__inner {
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-position-x: center;
        padding: 80px 128px 169px;
    }
    &__title-h2 {
        max-width: 698px;
        width: 100%;
        margin: 0 0 16px;
    }
    &__title-h3 {
        max-width: 493px;
        width: 100%;
        margin: 0 0 40px;
        letter-spacing: 0.05em;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__chip {
        display: flex;
        margin-bottom: 32px;
        gap: 16px;
        svg {
            width: 47px;
            height: 47px;

            ellipse {
                fill: #F9A321;
            }

            path {
                fill: #FFC061;
            }
        }
    }
    &__span {
        display: block;
        max-width: 124px;
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;
        text-transform: uppercase;
        color: $white;
    }
    &__img {
        margin-right: 16px;
    }
    &__btns {
        display: flex;
        gap: 32px;
    }
    &__access {
        padding: 21px 52px;
        background: linear-gradient(267.67deg, #F9A321 0%, #FFC162 100%), linear-gradient(84.38deg, #F9D85F 0%, #FFE68C 100%), #F9D85F;
        border-radius: 32px;
        text-decoration: none;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        color: #FFFFFD;
        transition: .2s all;

        &:hover {
            box-shadow: 0 4px 30px rgba(249, 216, 95, 0.75);
        }
    }
    .button-circle {
        &__img {
            padding-left: 3px;
        }
    }
}

@include mq(md) {
    .demo-banner {
        &__inner {
            background-size: contain;
        }
        &__title-h2 {
            max-width: 564px;
        }
    }
}

@include mq(sm) {
    .demo-banner {
        &__chip {
            width: 100%;
            padding: 23px 0;
            display: flex;
            justify-content: center;
            background: linear-gradient(271.68deg, #F9A321 0%, #FFC162 100%);
            border-radius: 24px 24px 0 0;
            align-items: center;
            margin-bottom: 28px;

            svg {
                width: 32px;
                height: 32px;

                path {
                    fill: #FFFFFF;
                }
            }
        }

        &__span {
            max-width: 180px;
        }


        &__inner {
            background-size: contain;
            padding: 0 0 103px;
        }

        &__content {
            padding: 0 28px 0 32px;
        }

        &__title-h2 {
            margin-bottom: 16px;
        }

        &__title-h3 {
            font-size: 18px;
        }

        &__btns {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }
    }
}

@include mq(xs) {
    .demo-banner {
        &__wrapper {
            border-radius: 24px;
        }
        &__inner {
            border-radius: 24px;
            position: relative;
            overflow: hidden;
            background-size: 160% auto;
            background-position-x: 76%;
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                bottom: 0;
                height: 2px;
                background-color: $white;
            }
        }

        &__title-h2 {
            max-width: 285px;
            width: 100%;
            font-size: 18px;
        }

        &__title-h3 {
            font-weight: 400;
            font-size: 14px;
            text-transform: none;
            line-height: 135%;
            margin-bottom: 32px;
            max-width: 255px;
            width: 100%;
            letter-spacing: 0;
        }

        &__span {
            max-width: 154px;
            font-size: 12px;
        }
    }
}
