.s-home-banner {
  background-color: $primary;

  &__inner {
    padding: 56px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-transform: uppercase;
    color: $white;
    margin-left: 40px;
    max-width: 336px;
    width: 100%;
  }

  &__count {
    margin-left: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    border: 1px solid $white;
    color: $white;
    text-align: center;
    border-radius: 16px;
    padding: 24px 32px;
    max-width: 177px;
    width: 100%;
  }
}

@include mq(md) {
  .s-home-banner {


    &__inner {
      flex-direction: column;
      align-items: center;
      gap: 8px;
      padding: 56px 16px;
    }

    &__count {
      margin-top: 8px;
      margin-left: 0;
      border: none;
      text-align: center;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.02em;
      max-width: 100%;
      text-transform: uppercase;
      padding: 0;
    }

    &__title {
      order: 1;
      text-align: center;
      margin: 0;
    }

  }
}

@include mq(xs) {
  .s-home-banner {
    margin: 32px 16px 0;
    border-radius: 32px;

    &__title {
      max-width: 208px;
      width: 100%;
      text-align: center;
    }

    &__wrapper-outer {
      background-image: url("../img/home-banner-bg-mobile.svg") !important;
      border-radius: 32px;
    }

    &__count {
      font-size: 10px;
    }
  }
}
