.home-promo {
  &__wrapper {
    overflow: hidden;
  }

  &__inner {
    min-height: calc(100vh - 87px);
    padding: 80px 0 170px;
    display: flex;
    gap: 6px;
    align-items: center;
  }

  &__badge {
    color: $white;
    background-color: $primary;
    padding: 10px 16px 8px;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
  }

  &__title {
    max-width: 579px;
    width: 100%;
    margin-bottom: 16px;
  }

  &__subtitle {
    max-width: 412px;
    width: 100%;
    margin-bottom: 40px;
  }

  &__button-group {
    display: flex;
    gap: 32px;
  }

  &__img {
    position: relative;
    box-shadow: 0 4px 50px rgba(85, 118, 157, 0.25);
    border-radius: 100%;
    img {
      width: 585px;
      height: 585px;
      object-fit: cover;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 580px;
      height: 580px;
      border-radius: 100%;
      border: 1px solid #5A9DD3;
      animation-name: circle;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-duration: 6s;
      opacity: 0.25;
      animation-timing-function: linear;
      z-index: -1;
    }

    &:before {
      animation-delay: 5s;
    }

    &:after {
      animation-delay: 4s;
    }
  }

  &__pulse-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 580px;
    height: 580px;
    border-radius: 100%;
    border: 1px solid #5A9DD3;
    animation-name: circle;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    opacity: 0.25;
    animation-timing-function: linear;
    z-index: -1;

    &-1 {
      animation-delay: 0s;
    }
    &-2 {
      animation-delay: 1s;
    }
    &-3 {
      animation-delay: 2s;
    }
    &-4 {
      animation-delay: 3s;
    }
  }

  &__circle {
    position: absolute;
    background-color: $primary;
    border-radius: 100%;
    &--lg {
      width: 32px;
      height: 32px;
      right: -50px;
    }
    &--sm {
      width: 16px;
      height: 16px;
      bottom: -3px;
      left: 50px;
    }
  }
}

@keyframes circle {
  0% {
    width: 580px;
    height: 580px;
  }

  100% {
    width: 1885px;
    height: 1885px;
  }
}
