.s-main-product {
  margin: 128px 0;

  &__title {
    text-align: center;
    margin: 0 auto 56px;
  }

  &__items {
    display: flex;
    gap: 33px;
    margin-bottom: 40px;
    justify-content: center;
  }

  &__text {
    max-width: 877px;
    width: 100%;
    text-align: center;
    margin: 0 auto;

    span {
      color: $primary;
      text-decoration: underline;
    }
  }
}
