.s-main-product {
  margin: 128px 0;

  &__title {
    text-align: center;
    margin: 0 auto 56px;
  }

  &__items {
    display: flex;
    gap: 33px;
    margin-bottom: 40px;
    justify-content: center;
  }

  &__text {
    max-width: 877px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}

@include mq(md) {
  .s-main-product {
    margin: 72px 0;
    &__title {
      margin-bottom: 16px;
    }

    &__items {
      gap: 16px;
    }
  }
}

@media screen and (max-width: 800px) {
  .s-main-product {
    .container {
      max-width: 100%;
      margin: 0;
      padding: 0;
    }

    &__text {
      padding: 0 16px;
    }

    &__swiper {
      padding: 0 16px !important;
    }

    &__items {
      gap: 0;
      justify-content: flex-start;
    }
  }
}

@include mq(xs) {
  .s-main-product {
    &__text {
      a {
        font-size: 14px;
      }
    }
  }
}
