.promo-case {
  &__date {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(67, 67, 67, 0.35);
    text-align: center;
    margin-top: 80px;
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 24px;
  }

  &__switch {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 48px;
  }

  .promo-text {
    .text--lg {
      margin-bottom: 16px;
    }
  }

  img {
    border-radius: 40px;
  }
}
