.s-questions {
    &__title {
        max-width: 864px;
        width: 100%;
        margin-bottom: 16px;
    }
    &__check-list {
        margin-top: 16px;
    }
}

@include mq(xs) {
    .s-questions {
        &__check-list {
            margin: 16px 0;
        }
    }
}
