.s-questions-remain {
  margin-top: 128px;

  &__wrapper {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 97px;
    box-shadow: 0 4px 60px rgba(85, 118, 157, 0.15);
    border-radius: 48px;
  }

  &__header {
    display: flex;
    margin-bottom: 38px;
  }

  &__title {
    max-width: 256px;
    width: 100%;
  }

  &__text {
    max-width: 574px;
    width: 100%;
    margin-left: 75px;
  }

  &__form {
    input.input {
      max-width: 314px;
      width: 100%;
    }

    &-wrapper {
      display: flex;
      justify-content: center;
      gap: 16px;

      & + & {
        margin-top: 16px;
      }
    }

    textarea.input {
      resize: none;
      height: 240px;
      max-width: 100%;
      width: 100%;
    }

    .checkbox {
      max-width: 340px;
      width: 100%;
    }
  }

  .button-primary {
    margin-top: 24px;
    &:before {
      background: $white;
    }

    &:hover {
      color: $primary;
    }
  }
}

@include mq(md) {
  .s-questions-remain {
    margin: 64px 0;

    &__wrapper {
      padding: 40px 54px
    }
  }
}

@include mq(sm) {
  .s-questions-remain {

    &__wrapper {
      padding: 48px 18px;
    }

    &__header {
      flex-direction: column;
      gap: 0;
      margin-bottom: 24px;
      align-items: center;
    }

    &__title {
      text-align: center;
      max-width: 600px;
      margin-bottom: 16px;
    }

    &__form {
      input.input {
        max-width: 100%;
      }
    }

    &__text {
      text-align: center;
      margin-left: 0;
    }

    &__form-wrapper {
      flex-direction: column;
      align-items: center;
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      gap: 8px;
    }

    .button {
      width: 263px;
      justify-content: center;
      margin-top: 0;
    }
  }
}

@include mq(xs) {
  .s-questions-remain {

    &__text {
      max-width: 309px;
      width: 100%;
      margin: 0 auto;
    }

    &__wrapper {
      border-radius: 24px;
    }
    &__form-wrapper {
      max-width: 320px;
    }

    textarea.input, input.input {
      max-width: 263px;
      width: 100%;
    }

    .button {
      max-width: 263px;
      width: 100%;
    }

    &__form {
      textarea.input {
        height: 104px;
        margin-top: -8px;
      }
    }

    .checkbox__wrap::before {
      margin-right: 12px;
    }

    .checkbox {
      padding: 0 28px;
      a {
        font-size: 12px;
      }
    }
  }
}
