.s-realization {

  position: relative;

  &__wrapper-outer {
    padding: 135px 0 210px 0;
    background-size: cover;
  }

  &__item {
    position: absolute;
    z-index: 1;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    img {
      max-width: 100%;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__main-img {
    text-align: center;
    position: relative;
  }

  &__title {
    color: white;
    max-width: 510px;
    margin: 0 auto 45px auto;
    text-align: center;
  }

  &__main-img:before {
    position: absolute;
    content: "";
    right: 60%;
    top: -38%;
    bottom: 0;
    margin: auto;
    width: 270px;
    height: 300px;
    background: url(../img/realization-arrow-1.png);
  }

  &__main-img:after {
    position: absolute;
    content: "";
    top: -53%;
    left: 60%;
    bottom: 0;
    margin: auto;
    width: 285px;
    height: 222px;
    background: url(../img/realization-arrow-2.png);
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    line-height: 140%;
    text-align: center;
    max-width: 676px;
    margin: 20px auto 30px auto;
  }


  &:before {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background: white;
    content: '';
  }

  &__button {
    position: relative;
    text-decoration: none;
    background: #ffffff;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    color: #57a6ee;
    padding: 22px 50px;
    margin: 0 auto;
    display: block;
    width: 210px;
    z-index: 0;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.2s ease-out;
    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 40px;
      background: linear-gradient(267.67deg, #F9A321 0%, #FFC162 100%);
      opacity: 0;
      z-index: -1;
      transition: all 0.2s ease-out;
    }
    &:hover:before {
      opacity: 1;
    }
  }

  &__button:hover {
    color: #ffffff;
    background: #57a6ee;
  }

  &__item {
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 1.5s cubic-bezier(1, -0.04, 0.67, 0.84);
    max-width: 0;
  }

  &__item--1 {
    left: 39%;
    bottom: 63%;
  }
  &__item--2 {
    left: 36%;
    bottom: 55%;
  }

  &__item--3 {
    left: 36%;
    bottom: 59%;
  }

  &__item--4 {
    left: 35%;
    bottom: 59%;
  }

  &__item--5 {
    left: 34%;
    bottom: 61%;
  }

  &__item--6 {
    left: 35%;
    bottom: 64%;
  }

  &__item--7 {
    right: 33%;
    bottom: 62%;
  }

  &__item--8 {
    right: 33%;
    bottom: 62%;
  }

  &__item--9 {
    right: 33%;
    bottom: 62%;
  }

  &__item--10 {
    right: 33%;
    bottom: 52%;
  }

  &__item--11 {
    right: 33%;
    bottom: 52%;
  }

  &__wrapper.active &__item {
    max-width: 400px;
  }

  &__wrapper.active &__item--1 {
    left: 0;
    bottom: 40%;
  }

  &__wrapper.active &__item--2 {
    left: 9%;
    bottom: 25%;
  }

  &__wrapper.active &__item--3 {
    left: 12%;
    bottom: 48%;
  }

  &__wrapper.active &__item--4 {
    left: 12%;
    bottom: 78%;
  }

  &__wrapper.active &__item--5 {
    left: 3%;
    bottom: 93%;
  }

  &__wrapper.active &__item--6 {
    left: 15%;
    bottom: 99%;
  }

  &__wrapper.active &__item--7 {
    right: 12%;
    bottom: 99%;
  }

  &__wrapper.active &__item--8 {
    right: -2%;
    bottom: 86%;
  }

  &__wrapper.active &__item--9 {
    right: 11%;
    bottom: 71%;
  }

  &__wrapper.active &__item--10 {
    right: 2%;
    bottom: 40%;
  }

  &__wrapper.active &__item--11 {
    right: 15%;
    bottom: 32%;
  }


  &__main-img:before {
    max-width: 0;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 1.5s cubic-bezier(1, -0.04, 0.67, 0.84);
  }

  &__wrapper.active &__main-img:before {
    max-width: 600px;
    max-height: 600px;
  }

  &__main-img:after {
    max-width: 0;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 1.5s cubic-bezier(1, -0.04, 0.67, 0.84);
  }

  &__wrapper.active &__main-img:after {
    max-width: 600px;
    max-height: 600px;
  }
}

@include mq(md) {
  .s-realization {
    .container {
      padding: 0 16px;
    }

    &__wrapper-outer {
      padding: 72px 0 85px;
    }

    &__text {
      margin-bottom: 32px;
    }

    &__button {
      max-width: 311px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    &__item {
      transition-duration: 1.5s;
      bottom: 50%;
      left: 44%;
      right: auto;
      top: auto;
      transition: all 0.5s ease-out;
    }

    &__item--1 img {
      max-width: 63px;
    }

    &__item--2 img {
      max-width: 44px;
    }

    &__item--3 img {
      max-width: 46px;
    }

    &__item--4 img {
      max-width: 43px;
    }

    &__item--5 img {
      max-width: 60px;
    }

    &__item--6 img {
      max-width: 55px;
    }

    &__item--7 img {
      max-width: 53px;
    }

    &__item--8 img {
      max-width: 43px;
    }

    &__item--9 img {
      max-width: 49px;
    }

    &__item--10 img {
      max-width: 69px;
    }

    &__item--11 img {
      max-width: 52px;
    }

    &__main-img:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: url(../img/realization-mobile-arrows.png);
      width: 321px;
      height: 309px;
      transition-duration: .5s;
    }

    &__main-img:after {
      display: none;
    }

    &__main-img img {
      max-width: 330px;
      padding-top: 30px;
    }

    &__wrapper {
      max-width: 330px;
      margin: 100px auto 110px;
    }

    &__wrapper.active &__item {
      left: auto;
      bottom: auto;
    }

    &__wrapper.active &__item--1 {
      bottom: -25%;
      left: 15%;
    }

    &__wrapper.active &__item--2 {
      left: -3%;
      bottom: -26%;
    }

    &__wrapper.active &__item--3 {
      left: 37%;
      bottom: -20%;
    }

    &__wrapper.active &__item--4 {
      left: 32%;
      bottom: 105%;
    }

    &__wrapper.active &__item--5 {
      bottom: 94%;
      left: 13%;
    }

    &__wrapper.active &__item--6 {
      left: -5%;
      bottom: 108%;
    }

    &__wrapper.active &__item--7 {
      right: 16%;
      bottom: 96%;
    }

    &__wrapper.active &__item--8 {
      right: -4%;
      bottom: 100%;
    }


    &__item--8 img {
      max-width: 60px;
    }

    &__wrapper.active &__item--9 {
      right: -16%;
      bottom: 115%;
    }

    &__wrapper.active &__item--10 {
      right: 13%;
      bottom: -31%;
    }

    &__wrapper.active &__item--11 {
      right: -8%;
      bottom: -30%;
    }
  }
}

@include mq(xs) {
  .s-realization {
    &__wrapper-outer {
      background-image: url("../img/realization-mobile-bg.svg") !important;
    }

    &__wrapper.active &__item--9 {
      right: 11%;
    }

    &__wrapper.active &__item--11 {
      right: -4%;
    }

    &__text {
      font-size: 14px;
    }
  }
}

@keyframes realization-item {
  0% {
    transform: scale(.2);
  }
  100% {
    transform: scale(1);
  }
}
