.s-reviews {
  &__inner {
    padding: 42px 0 48px;
  }

  &__items {
    display: flex;
    //align-items: center;
    margin-bottom: 48px;
  }

  &__title {
    text-align: center;
    margin: 0 auto 48px;
  }

  &__button {
    text-align: center;
  }
}

@include mq(md) {
  .s-reviews {

    .container {
      max-width: 1170px;
      padding: 0;
    }

    &__wrapper-outer {
      background-image: none !important;
    }

    &__inner {
      padding: 72px 0 64px;
    }

    &__title {
      margin-bottom: 24px;
    }

    &__items {
      margin-bottom: 40px;
    }

    &__slider {
      padding: 0 16px !important;
    }

    .button {
      max-width: 311px;
      width: 100%;
      justify-content: center;
    }
  }
}
