.inner-case {
    &__wrapper {
        background-color: #EEF7FF;

        background-image: url("../img/promo-case.png");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 24px;
        background-size: cover;
    }

    .main-container {
        max-width: 975px;
        width: 100%;
        margin: 72px auto;
    }

    &__final-text {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    @import "promo-case";
    @import "variants";
    @import "questions";
}

.section {
    &__wrapper-outer {
        background-position: center bottom;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    &--blue {
        background-color: $primary-bg;
    }
}

@import "banner";
@import "image-with-text";
@import "demo-banner";
@import "transition-banner";
@import "why-choice";
@import "other-services";
@import "transition-steps";
@import "how-work";
@import "schedule-webinars";
@import "capabilities";
@import "questions-form";
@import "cost-lk";
@import "services";
@import "home-promo";
@import "home-banner";
@import "advantage";
@import "capabilities-kpk";
@import "capabilities-online";
@import "reviews";
@import "xbrl";
@import "functions";
@import "cases";
@import "clients";
@import "banner-companies";
@import "realization";
