.section {
    &__wrapper-outer {
        background-position: center bottom;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    &--blue {
        background-color: $primary-bg;
    }

    &--m72 {
        margin: 72px 0;
    }

    &--m128 {
        margin: 128px 0;
    }
}

.p-inner-case {
    @import "./promo-case";
    @import "./variants";
    @import "./questions";
}

@include mq(xs) {
    .section {
        &__wrapper-outer {
            background-image: url("../img/mobile-pattern.svg") !important;
        }
    }
}

@import "banner";
@import "image-with-text";
@import "demo-banner";
@import "transition-banner";
@import "why-choice";
@import "other-services";
@import "transition-steps";
@import "how-work";
@import "schedule-webinars";
@import "capabilities";
@import "questions-form";
@import "cost-lk";
@import "services";
@import "home-promo";
@import "home-banner";
@import "advantage";
@import "capabilities-kpk";
@import "capabilities-online";
@import "reviews";
@import "xbrl";
@import "functions";
@import "cases";
@import "clients";
@import "banner-companies";
@import "realization";
@import "learn-includes";
@import "benefits";
@import "what-benefit";
@import "accounting-services";
@import "maintenance-packages";
@import "consulting-packages";
@import "main-product";
@import "add-modules";
@import "add-licenses";
@import "add-services";
@import "add-products";
@import "support-update";
@import "history";
@import "about-digits";
@import "teams";
@import "other-polls";
@import "questions-remain";
@import "simple-text";
