.variants {
  &__h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #57A6EE;
    text-align: center;
    margin-bottom: 52px;
  }

  &__ul {
    list-style: none;
    display: flex;
    gap: 33px;
  }

  &__li {
    width: 303px;
    padding: 0 48px;
    min-height: 156px;
    border: 1px solid #DEEFFF;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 400;
    color: #434343;
    position: relative;
  }

  &__digit {
    background-image: url(../img/variants.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    position: absolute;
    right: 44%;
    left: 44%;
    top: -24px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
  }

  &__text {
    width: 207px;
  }
}
