.s-why-choice {
  &__title {
    text-align: center;
    margin-bottom: 40px;
  }
}


@include mq(md) {
  .s-why-choice {
    &__title {
      margin-bottom: 24px;
    }
  }
}

@include mq(xs) {
  .s-why-choice {
    .container {
      padding-right: 0;
    }

    .container {
      padding: 0;
    }
  }
}
