.p-about-program {


  &__title {
    margin-bottom: 79px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 32px;
  }
}

@include mq(md) {
  .p-about-program {
    .title-prompt {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__inner {
      justify-content: center;
      gap: 20px;
    }
  }
}

@include mq(sm) {
  .p-about-program {
    &__inner {
      gap: 16px;
    }
  }
}
