.p-about-company {

  &__first-screen {
    margin-bottom: 122px;
  }

  &__wrapper-outer {
    padding: 96px 0 173px;
    overflow: hidden;
  }

  &__inner {
    position: relative;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 474px;
    height: 504px;

    img {
      position: absolute;
      width: 474px;
      height: 504px;

      left: -24px;
      top: -70px;
    }
  }

  &__title {
    margin: 0 0 24px;
  }

  &__text {
    max-width: 688px;
    width: 100%;
    line-height: 28px;
    margin-bottom: 16px;

    p + p {
      margin-top: 12px;
    }

    p {
      span {
        position: relative;

        &::after, &::before {
          display: block;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 12px;
          height: 10px;
          position: absolute;
          top: 2px;
        }
      }

      span.start-qoute {
        &::before {
          content: "";
          background-image: url("../icons/left-quote.svg");
          left: -18px;
        }
      }

      span.end-qoute {
        &::after {
          content: "";
          background-image: url("../icons/end-quote.svg");
          right: -18px;
        }
      }
    }
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 38px;
  }

  &__sign {
    max-width: 119px;
    width: 100%;
    line-height: 0;
    img {
      max-width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .s-schedule-webinars {
    margin: 128px 0;

    &__inner {
      justify-content: flex-start;
      align-items: center;
    }

    &__title {
      max-width: 287px;
      width: 100%;
    }

    &__text {
      max-width: 370px;
      width: 100%;
      margin-left: 40px;
    }

    .button {
      margin-left: auto;
    }
  }
}

@include mq(xxl) {
  .p-about-company {
    &__img {
      img {
        top: -62px;
      }
    }
  }
}


@include mq(md) {
  .p-about-company {
    &__first-screen {
      margin-bottom: 64px;
    }

    &__wrapper-outer {
      padding: 40px 0 135px;
    }

    &__title {
      margin: 0 auto 16px;
      text-align: center;
    }

    &__text {
      margin: 0 auto 10px;
    }

    &__box {
      max-width: 688px;
      width: 100%;
      margin: 0 auto;
      gap: 23px;
    }

    &__img {
      position: relative;
      margin: 0 auto;
      top: auto;
      left: auto;
      width: 332px;
      height: 200px;

      img {
        top: 25px;
        left: -18px;
        width: 332px;
        height: 353px;
      }
    }

    &__text {
      p {
        span {
          &::after, &::before {
            width: 10px;
            height: 8px;
          }
        }

        span.start-qoute {
          &::before {
            left: -14px;
          }
        }

        span.end-qoute {
          &::after {
            right: -14px;
          }
        }
      }
    }

    .s-schedule-webinars {
      margin: 32px 0 72px;
      .button {
        justify-content: center;
      }
    }
  }
}

@include mq(sm) {
  .p-about-company {
    &__inner {
      padding-left: 11px;
      padding-right: 11px;
    }

    &__img {
      img {

      }
    }
  }
}

@include mq(xs) {
  .p-about-company {
    &__first-screen {
      margin-bottom: 6px;
    }

    &__wrapper-outer {
      padding-bottom: 321px;
    }

    &__text {
      max-width: 100%;
      width: 100%;
      font-size: 14px;
      line-height: 19px;

      p {
        span {
          &::after, &::before {
            width: 8px;
            height: 7px;
          }
        }

        span.start-qoute {
          &::before {
            left: -11px;
          }
        }

        span.end-qoute {
          &::after {
            right: -11px;
          }
        }
      }

      p + p {
        margin-top: 8px;
      }
    }

    &__box {
      margin-bottom: 8px;
    }

    &__sign {
      max-width: 94px;
    }

    &__img {
      height: 0;

      img {
        top: 0;
      }
    }
  }
}
