.capabilities {

  &__first-screen {
    margin-bottom: 232px;
  }

  &__title {
    margin-top: 80px;
  }

  &__nav-page {
    margin-top: 24px;
    .nav-page__list {
      height: 326px;
    }
  }

  &__item {
    padding: 128px 0;
    &:nth-child(even) {
      background-color: #EEF7FF;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-title {
      margin-bottom: 24px;
    }

    &-details {
      max-width: 553px;
      width: 100%;
    }

    &-check-list {
      margin: 16px 0;
    }
  }
}
