.cert {
  &__title {
    margin: 80px auto 24px;
    text-align: center;
  }
  &__cert-slider {
    margin-top: 72px;
  }
  &__text {
    text-align: center;
    margin: 0 auto;
    max-width: 499px;
    width: 100%;
  }


}

@include mq(xxl) {
  .cert {
    &__cert-slider {
      margin-top: 0;
    }
  }
}

@include mq(md) {
  .cert {

    &__title {
      margin-top: 40px;
      margin-bottom: 16px;
    }

    &__cert-slider {
      margin-top: 24px;
      margin-bottom: 90px;
    }
  }
}

@include mq(sm) {
  .cert {
    &__title {
      max-width: 320px;
    }
  }
}
