.p-contacts {
  &__bg {
    height: 960px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
  }

  &__map {
    margin-top: 56px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 56px;
  }

  &__items {
    display: flex;
    gap: 95px;
    align-items: flex-start;
  }

  &__item {

    & > .p-contacts__item {
      margin-top: 16px;
    }

    &-title {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #434343;
      margin-bottom: 4px;
    }

    &-value {
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      color: #3F5770;
      text-decoration: none;
    }

    &--1 {
      max-width: 133px;
      width: 100%;
    }
    &--2 {
      max-width: 216px;
      width: 100%;
    }
    &--3 {
      max-width: 244px;
      width: 100%;
    }
    &--4 {
      max-width: 266px;
      width: 100%;
    }

    &--md {
      display: none;
    }
  }

  &__add-text {
    margin-top: 7px;
  }

  &__marker {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #3F5770;
  }
}

@include mq(md) {
  .p-contacts {
    &__items {
      flex-direction: column;
      gap: 24px;
    }

    &__title {
      margin-bottom: 16px;
    }

    &__text {
      max-width: 500px;
      width: 100%;
      text-align: center;
      margin: 0 auto 40px;
    }



    &__item {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &-title {
        margin-bottom: 0;
      }

      &-line {
        flex: 1;
        background: #C4E0FA;
        align-self: flex-end;
        height: 1px;
        margin: 0 5px 5px;
      }

      &-value {
        font-size: 22px;
      }


      &--1, &--2, &--3 {
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;
        padding: 24px 0;
      }

      &--4 {
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
      }

      &--md {
        .p-contacts__add-text {
          display: block;
        }
      }
    }

    &__add-text {
      display: none;
    }

    &__map {
      margin-top: 24px;
    }
  }
}

@include mq(xs) {
  .p-contacts {
    &__map {
      margin-top: 16px;
    }

    &__item {
      &-title {
        font-size: 14px;
      }

      & > .p-contacts__item {
        margin-top: 8px;
      }

      &-line {
        margin-bottom: 8px;
      }

      &-value {
        font-size: 14px;
      }

      &--4 {
        .p-contacts__item-value {
          line-height: 19px;
        }
      }
    }

    &__marker, &__add-text {
      font-size: 14px;
    }
  }
}
