.p-contacts {
  &__bg {
    height: 960px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
  }

  &__map {
    margin-top: 56px;
  }

  &__title {
    margin: 80px 0 24px;
  }

  &__text {
    margin-bottom: 56px;
  }

  &__items {
    display: flex;
    gap: 95px;
    align-items: flex-start;
  }

  &__item {

    & > .p-contacts__item {
      margin-top: 16px;
    }

    &-title {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #434343;
      margin-bottom: 4px;
    }

    &-value {
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      color: #3F5770;
      text-decoration: none;
    }

    &--1 {
      max-width: 133px;
      width: 100%;
    }
    &--2 {
      max-width: 216px;
      width: 100%;
    }
    &--3 {
      max-width: 244px;
      width: 100%;
    }
    &--4 {
      max-width: 266px;
      width: 100%;
    }
  }

  &__add-text {
    margin-top: 7px;
  }

  &__marker {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #3F5770;
  }
}
