.p-cost {
  &__bg {
    height: 478px;

    img {
      object-fit: cover;
    }
  }

  &__title {
    margin: 80px 0;
  }

  &__prompt {
    &:before {
      width: 447px;
    }

    .prompt__wrapper {
      align-items: center;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 32px;
  }
}
