.p-cost-program {
  &__first-screen {
    margin-bottom: 330px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    max-width: 887px;
    width: 100%;

    .marker {
      font-weight: 600;
    }
  }

  &__cards {
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
    }
  }
}

@include mq(md) {
  .p-cost-program {
    &__first-screen {
      margin-bottom: 280px;
    }

    &__title {
      margin-bottom: 16px;
    }

    &__text {
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
    }

    .section + .section {
      margin: 72px 0 0;
    }

    &__cards {
      margin-top: 72px;
      margin-bottom: 64px;
      &-wrapper {
        justify-content: center;
        gap: 20px;
      }
    }
  }
}

@include mq(xs) {
  .p-cost-program {
    &__pattern {
      height: 513px;
    }

    &__first-screen {
      margin-bottom: 157px;
    }

    &__text {
      max-width: 313px;
      width: 100%;
    }

    &__cards {
      &-wrapper {
        gap: 16px;
      }
    }
  }
}
