.p-eps-expert {
  &__first-screen {

    &-img {
      position: absolute;
      top: -44px;
      right: -100px;
      img {
        width: 619px;
        height: 407px;
      }
    }
  }


  &__wrapper-outer {
    padding: 0 0 181px;
  }

  &__wave-bottom {
    position: absolute;
    bottom: -4px;
    z-index: 1;
    width: 100%;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__subtitle {
    margin-bottom: 16px;
  }

  &__text {
    max-width: 451px;
    width: 100%;
    margin-bottom: 40px;
  }

  .s-schedule-webinars {
    margin-bottom: 0;
    &__inner {
      align-items: center;
    }

    &__title {
      max-width: 249px;
      width: 100%;
    }

    &__text {
      margin-left: 54px;
      max-width: 336px;
      width: 100%;
    }

    .button {
      padding: 21px 82px;
      margin-left: auto;
    }
  }
}

@include mq(md) {
  .p-eps-expert {
    &__wrapper-outer {
      padding: 0 0 140px;
    }

    &__title {
      margin-bottom: 8px;
    }

    &__subtitle {
      margin: 0 auto 16px;
      text-align: center;
    }

    &__text {
      margin: 0 auto 22px;
      text-align: center;
    }

    &__first-screen {
      &-img {
        position: static;
        margin: 0 auto;
        text-align: center;
        line-height: 0;

        img {
          width: 237px;
          height: 157px;
        }
      }

      &-button {
        display: flex;
        width: 311px;
        margin: 0 auto;
        justify-content: center;
        background: #3F5770;
      }
    }

    .s-schedule-webinars {
      margin: 72px 0;

      &__title {
        max-width: 361px;
      }

      .button {
        justify-content: center;
      }
    }
  }
}

@include mq(xs) {
  .p-eps-expert {
    &__wrapper-outer {
      padding-bottom: 120px;
    }
  }
}
