.p-inner-case {

  &__section {
    margin: 72px 0;
  }

  &__final-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__img {
    img {
      max-width: 100%;
      height: 320px;
      border-radius: 24px;
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    .link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include mq(md) {
  .p-inner-case {

    &__section {
      margin: 32px 0;
    }

    .s-switcher {
      margin-bottom: 72px;
    }

    &__pattern {
      height: 482px;
    }
  }
}

@include mq(xs) {
  .p-inner-case {
    &__pattern {
      height: 410px;
    }

    .title--level_h3 {
      max-width: 343px;
      text-align: center;
      margin: 0 auto 16px;
    }

    &__img {
      img {
        height: 163px;
      }
    }
  }
}
