.p-personal-cabinet {
  &__bg {
    height: 558px;
  }

  &__main {
    padding-top: 80px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 16px;
  }

  &__subtitle {
    margin-bottom: 16px;
  }

  &__promo {
    display: flex;
    position: relative;
    margin-bottom: 295px;

    &-box {
      max-width: 406px;
      width: 100%;
    }

    &-text {
      margin-bottom: 40px;
    }

    &-img {
      position: absolute;
      top: -80px;
      right: 0;
      img {
        width: 780px;
        height: 526px;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .s-schedule-webinars {
    margin-top: 32px;
    &__title {
      max-width: 183px;
    }

    &__text {
      max-width: 314px;
    }

    &__button-group {
      display: flex;
      gap: 16px;
      align-items: center;
    }
  }
}

@include mq(md) {
  .p-personal-cabinet {
    &__main {
      padding-top: 40px;
    }

    &__promo {
      margin-bottom: 185px;

      &-box {
        margin: 0 auto;
      }

      &-img {
        position: static;
        margin: 5px auto;
        text-align: center;

        img {
          margin-right: 22px;
          width: 290px;
          height: 196px;
        }
      }

      .button {
        width: 311px;
        justify-content: center;
        margin: 0 auto;
        display: flex;
      }

      &-text {
        margin: 0 auto;
        text-align: center;
      }
    }

    &__title {
      margin-bottom: 8px;
    }

    &__subtitle {
      margin: 0 auto 16px;
      text-align: center;
    }
  }
}

@include mq(xs) {
  .p-personal-cabinet {
    &__promo {
      margin-bottom: 158px;
      &-text {
        max-width: 303px;
      }
    }

    .s-schedule-webinars {
      margin-top: 16px;
    }
  }
}
