.p-poll-clients {
  &__title {
    margin-bottom: 24px;
  }

  &__text {
    max-width: 878px;
    width: 100%;
    margin-bottom: 40px;
  }

  &__item {
    filter: drop-shadow(0px 4px 30px rgba(80, 106, 153, 0.1));

    & + & {
      margin-top: 16px;
    }

    img {
      border-radius: 8px;
      max-width: 100%;
    }
  }
}

@include mq(md) {
  .p-poll-clients {
    &__title {
      margin-bottom: 16px;
    }

    &__text {
      max-width: 600px;
      margin: 0 auto 24px;
      text-align: center;
    }

    &__item {
    }
  }
}
