.p-record-webinars {

  &__first-screen {
    margin-bottom: 306px;
  }

  &__title {
    margin: 80px 0 24px;
  }

  .webinars {
    margin: 128px 0;
  }

  &__title-wrap {
    position: relative;
  }

  &__button {
    position: absolute;
    top: -18px;
    right: 0;

    max-width: 426px;
    width: 100%;

    padding: 20px 32px;
    background: linear-gradient(267.67deg, #4CA3F2 0%, #80C2FF 100%);
    backdrop-filter: blur(10px);
    border-radius: 16px;

    align-items: center;
    gap: 16px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $white;

    &-icon {
      line-height: 0;
      img {
        width: 32px;
        height: 32px;
      }
    }

    &-arrow {
      height: 16px;
      img {
        height: 16px;
        width: 16px;
      }
      margin-left: auto;
    }
  }
}

@include mq(md) {
  .p-record-webinars {
    &__title {
      text-align: center;
    }

    &__first-screen {
      margin-bottom: 180px;
    }

    .nav-page {
      &__list {
        max-width: 460px;
        width: 100%;
        margin: 16px auto;
        align-items: center;
      }

      &__item {
        max-width: 100%;
        width: fit-content;
      }
    }

    &__button {
      position: static;
      display: flex;
      width: fit-content;
      margin: 0 auto;
    }

    .demo-banner {
      margin-bottom: 64px;
    }
  }
}

@include mq(sm) {
  .p-record-webinars {
    .nav-page {
      &__list {
        align-items: flex-start;
      }
    }
    .swiper {
      padding: 0 16px 0 0;
    }
    .webinars {
      margin: 72px 0;
    }
  }
}

@include mq(xs) {
  .p-record-webinars {
    &__button {
      gap: 10px;
      width: 100%;
      padding: 16px;
      border-radius: 8px;
      font-weight: 600;
      &-icon {
        img {
          width: 24px;
          height: 24px;
        }
      }
      &-arrow {
        display: none;
      }
    }
  }
}


