.p-webinar-schedule {
  &__title {
    margin: 80px 0 40px;
  }

  &__inner {
    display: flex;
    gap: 56px;
    #filter-items {
      display: none;
    }
  }

  &__webinars {
    max-width: 100%;
    width: 100%;
  }


  &__calendar {
    position: sticky;
    top: 88px;
    flex-shrink: 0;

    padding: 48px;

    width: 484px;
    height: 577px;

    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(80, 106, 153, 0.1);
    border-radius: 48px;

    &-button {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 21px 10px;
      margin-top: 27px;
    }

    .jalendar {
      width: 100%;
      .jalendar-pages {
        background: #FFFFFF !important;
        border-radius: 48px !important;
        width: 100%;
      }
    }

  }

  &__items {
    max-width: 100%;
    width: 100%;
    & + & {
      margin-top: 56px;
    }
  }

  &__block-title {
    margin-bottom: 24px;
    color: #434343;
  }

  .s-schedule-webinars {
    &__inner {
      justify-content: flex-start;
    }

    &__title {
      max-width: 217px;
      width: 100%;
    }

    &__text {
      max-width: 370px;
      width: 100%;
      margin-left: 75px;
    }

    .button {
      margin-left: auto;
      padding: 22px 40px;
    }
  }

}

@include mq(md) {
  .p-webinar-schedule {
    &__title {
      text-align: center;
      margin: 40px 0 24px;
    }

    &__inner {
      flex-direction: column-reverse;
      align-items: center;
      gap: 24px;
    }

    &__calendar {
      position: static;
    }

    &__webinars, &__items {
      width: auto;
    }

    &__items {
      & + & {
        margin-top: 64px;
      }
    }
  }
}

@include mq(sm) {
  .p-webinar-schedule {
    &__calendar {
      height: auto;
      padding: 32px;
      max-width: 500px;
      width: 100%;
    }
  }
}
