.p-webinar-schedule {
  &__title {
    margin: 80px 0 40px;
  }

  &__inner {
    display: flex;
    gap: 56px;
    #filter-items {
      display: none;
    }
  }


  &__calendar {
    flex-shrink: 0;

    padding: 48px;

    width: 484px;
    height: 590px;

    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(80, 106, 153, 0.1);
    border-radius: 48px;

    &-button {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 21px 10px;
      margin-top: 40px;
    }

    .jalendar {
      width: 100%;
      .jalendar-pages {
        background: #FFFFFF !important;
        border-radius: 48px !important;
        width: 100%;
      }
    }

  }

  &__items {
    & + & {
      margin-top: 56px;
    }
  }

  &__block-title {
    margin-bottom: 24px;
    color: #434343;
  }

  .s-schedule-webinars {
    &__inner {
      justify-content: flex-start;
    }

    &__title {
      max-width: 217px;
      width: 100%;
    }

    &__text {
      max-width: 370px;
      width: 100%;
      margin-left: 75px;
    }

    .button {
      margin-left: auto;
      padding: 22px 40px;
    }
  }

}
