.footer {
  padding-top: 120px;
  background-color: $white;

  &__wrapper {
    padding: 195px 0 74px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }

  &__container {
    max-width: 1167px;
  }

  &__inner {
    display: flex;
    justify-content: center;
  }

  &__wrap {
    display: flex;
    margin-left: 84px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__accordion-menu {
    display: none !important;
  }

  &__logo {
    &-link {
      display: inline-flex;
      flex-direction: column;
      text-decoration: none;
      span {
        max-width: 241px;
        width: 100%;
        display: inline-block;
        margin-left: 65px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 125%;
        color: $white;
      }
    }
  }

  &__mobile-text {
    display: none;
  }

  &__copyright {
    @include ul-reset;

    padding-left: 65px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-link {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 125%;
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__nav {
    display: flex;
    flex-shrink: 0;

    &-title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 110%;
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }

    &-wrapper {
      max-width: 220px;
    }

    &-ul {
      @include ul-reset;

      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 24px;
    }

    &-col {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      justify-content: space-between;
      max-width: 220px;
      width: 100%;
      gap: 40px;

      & + & {
        margin-left: 59px;
      }
    }

    &-link {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 125%;
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__contacts {
    flex-shrink: 0;
    margin-left: 86px;
    max-width: 220px;
    width: 100%;
    &-title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 110%;
      color: $white;

      margin-bottom: 24px;
    }
    &-item {
      display: flex;
      flex-direction: column;
      gap: 8px;

      & + & {
        margin-top: 16px;
      }

      &-title {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 125%;
        color: $white;
      }
    }
    &-link {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 125%;
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include mq(md) {
  .footer {
    &__wrap {
      margin-left: 40px;
      flex-wrap: wrap;
      gap: 30px;
    }
    &__nav {
      &-col {
        & + & {
          margin-left: 30px;
        }
      }
    }

    &__contacts {
      margin-left: 0;
      display: flex;
      flex-wrap: wrap;

     &-item {
       max-width: 164px;
       width: 100%;
     }

      &-wrap {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
      }
    }

    &__mobile-text {
      display: block;
      text-align: center;
      max-width: 244px;
      width: 100%;
      margin: 32px auto 0;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 125%;
      color: $white;
    }

    &__copyright {
      justify-content: center;
    }
  }
}

@include mq(sm) {
  .footer {
    &__container {
      max-width: 800px;
      width: 100%;
      padding: 0 16px;
    }

    &__accordion-menu {
      display: flex !important;
    }
    &__logo {
      display: none;
    }
    &__nav {
      display: none;
    }
    &__inner {
      flex-direction: column-reverse;
      gap: 32px;
    }

    &__wrap {
      margin-left: 0;
    }

    &__contacts {
      margin-top: 48px;
    }

    &__copyright {
      &-link {
        font-size: 12px;
      }
    }

    &__contacts {
      max-width: 100%;

      &-title {
        width: 100%;
      }

      &-item {
        &-title {
          font-size: 12px;
        }

        & + & {
          margin-top: 0;
        }
        gap: 4px;
      }

      &-link {
        font-size: 16px;
      }
    }

    &__copyright {
      padding-left: 0;
      flex-direction: row;
      gap: 22px;
    }
  }
}
