.page-wrapper {
  position: relative;
  padding-top: 87px;
  z-index: 1;
  &__bg {
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    background-color: $primary-bg;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      bottom: 0;
    }
  }
}
