doctype html
html(lang="en")
  head
    include pug/_head 
  body 
    include blocks/header/_header
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut quis placeat sapiente similique quos architecto minus dolorum beatae molestias corrupti, quisquam sunt ab omnis ducimus est unde facilis facere aperiam? 
    include blocks/footer/_footer