* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext", sans-serif;
  font-weight: 700;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  &--wide {
    max-width: 1920px;
    padding: 0 60px;
  }
  &--narrow {
    max-width: 975px;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
