$white: #FFFFFF;
$black: #000000;

$light-blue: #EEF7FF;
$blue: #57A6EE;

$yellow: #F8AE35;

$dark-700: #3F5770;
$dark-900: #434343;

$primary: $blue;
$secondary: $yellow;
$primary-bg: $light-blue;

$breakpoints: (
  xs : 600px,
  sm: 980px,
  md: 1250px,
  xl: 1530px,
  xxl : 1770px
);
